.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    width: 90%;
    background: #01BAEF;
    padding-top: 2%;
    

    .repoItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 125px;
        width: 80%;
        margin: 5px 0px 5px 0px;
        border-bottom: 2px solid #0B4F6C;
        
        .repoInfo {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: 100%;
            background: white;
            border-radius: 5px 5px 0px 0px;
            .repoName {
                margin-bottom: 1%;
                font-size: 22px;
                color: #0B4F6C;
            }

            .description {
                width: 80%;
                height: 40%;
                word-wrap: normal;
                text-overflow: ellipsis;
                // text-align: center;
            }

            .repoStats {
                display: flex;
                justify-content: center;
                width: 100%;
                
                p {
                    text-align: center;
                    width:33%;
                    height: 10%;
                }
            }

        }

        .repoInfo:hover {
            cursor: pointer;
        }


    }

}

